@use "mixins";
@use "breakpoints";
@use "sass:map";


.pricing_table_container {
  padding: 40px 15px;
}

.pricing_table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include mixins.mediaMaxWith(map.get(breakpoints.$breakpoints, "md3")) {
    flex-direction: column;
    align-items: center;
  }
}