@use "mixins";

.pricing_table_container {
  padding: 40px 15px;
}

.pricing_table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include mixins.mediaMaxWith(900px) {
    flex-direction: column;
    align-items: center;
  }
}