@use "color_variables";

@mixin square($size:22px) {
  width: $size;
  height: $size;
}

@mixin iconBaseBlock {
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  @include square();
  border: 2px solid transparent;
  margin-right: 10px;
}

@mixin btnBoxShadowHover($shadowColor:color_variables.$btnShadowColor) {
  box-shadow: 1px 1px 0 1px $shadowColor, -1px -1px 0 1px $shadowColor;
}

@mixin mediaMaxWith($size) {
   @media (max-width: $size) {
     @content;
  }
}

@mixin mediaMinAndMaxWith($minSize,$maxSize) {
   @media (max-width: $maxSize) and (min-width:$minSize) {
     @content;
  }
}