@use 'color_variables';
@use 'mixins';

.pricing_card {
  width: 360px;
  background: #37414b;
  margin-right: 24px;
  border-radius: 20px;
  padding: 40px 30px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }

  &__title {
    margin: 0;
    padding-bottom: 40px;
    border-bottom: 1px solid color_variables.$baseTextColor;
  }

  &__featured_list {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 30px;

  }
}

.featured_item {
  margin-bottom: 14px;
  color: color_variables.$featuredListItemTextColor;
  display: flex;
  align-items: center;


  &:not(.featured_item--active) &__icon {
    @include mixins.iconBaseBlock;
    border-radius: 40px;

    &:after,
    &:before {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 16px;
      height: 2px;
      background: currentColor;
      transform: rotate(45deg);
      border-radius: 5px;
      top: 8px;
      left: 1px
    }

    &:after {
      transform: rotate(-45deg)
    }

  }


}


.pricing_card__price {

  .price {

    &__number {
      font-weight: 900;
      font-size: 40px;
      text-transform: uppercase;
    }

    &__description {
      font-size: 16px;
    }
  }


}