.pricing_card {
  width: 360px;
  background: #37414b;
  margin-right: 24px;
  border-radius: 20px;
  padding: 40px 30px;

  &:last-child{
    margin-right: 0;
  }
}

.pricing_card__price {

  .price {

    &__number {
      font-weight: 900;
      font-size: 36px;
      text-transform: uppercase;
    }

    &__description {
      font-size: 16px;
    }
  }


}