@use "color_variables";
@use "mixins";

.featured_item--active {
  color: color_variables.$baseTextColor;

  .featured_item__icon {
    @include mixins.iconBaseBlock;
    @include mixins.square();
    border-radius: 100px;

    &:before {
      display: none;
    }

    &:after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      left: 3px;
      top: -1px;
      width: 6px;
      height: 10px;
      border-width: 0 2px 2px 0;
      border-style: solid;
      transform-origin: bottom left;
      transform: rotate(45deg)
    }

  }

}