/**
 * start "state.scss";
 */

@use "../variables/color_variables";
@use "../mixins/mixins";
@use "../utils/utils";
@use "../mixins/buttons";

.featured_item--active {
  color: color_variables.$baseTextColor;

  .featured_item__icon {
    @include mixins.iconBaseBlock;
    border-radius: 100px;

    &:before {
      display: none;
    }

    &:after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      left: 3px;
      top: -1px;
      width: 6px;
      height: 10px;
      border-width: 0 2px 2px 0;
      border-style: solid;
      transform-origin: bottom left;
      transform: rotate(45deg)
    }

  }

}

.pricing_card--highlight {
  position: relative;

  .pricing_card__title, .price__number {
    color: color_variables.$accentTextColor1;
  }

  .pricing_card__label {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    display: inline-block;
    margin: auto;
    width: 127px;
    padding: 12px;
    background: color_variables.$accentTextColor1;
    color: color_variables.$pageBgColor;
    border-radius: utils.sizeX(2) utils.sizeX(2) 0 0;

    h4 {
      margin: 0;
    }
  }

  .pricing_card__button {
    background: color_variables.$btnPrimaryBgColor;

    &:hover {
      @include buttons.btnPrimaryHoverStyle;
    }
  }

}

/**
 * end "state.scss";
 */