/**
 * start "base.scss";
 */

@use "../variables/color_variables";
@use "../mixins/mixins";
@use "../variables/breakpoints";
@use "sass:map";

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background: color_variables.$bgColor;
  color: color_variables.$baseTextColor;
}

body * {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-family: 'Playpen Sans', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 100px;
  color: color_variables.$accentTextColor1;

  @include mixins.mediaMaxWith(map.get(breakpoints.$breakpoints, "lg")) {
    font-size: 36px;
  }

  @include mixins.mediaMaxWith(map.get(breakpoints.$breakpoints, "md")) {
    font-size: 28px;
  }

  @include mixins.mediaMaxWith(map.get(breakpoints.$breakpoints, "sm")) {
    margin-bottom: mixins.sizeX(5);
  }

}

h3 {
  font-size: 28px;
}

button {
  cursor: pointer;
  outline: none;
  border: 0;
  box-shadow: none;
}


/**
 * end "base.scss";
 */
