/**
 * start "layout.scss";
 */

@use "../mixins/mixins";
@use "../variables/breakpoints";
@use "sass:map";


.pricing_table_container {
  padding: mixins.sizeX(5) mixins.sizeX(2);
}

.pricing_table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include mixins.mediaMaxWith(map.get(breakpoints.$breakpoints, "md3")) {
    flex-direction: column;
    align-items: center;
  }
}
/**
 * end "layout.scss";
 */