/**
 * start "module.scss";
 */

@use 'color_variables';
@use 'mixins';
@use "breakpoints";
@use "sass:map";

$smBreakpoint: map.get(breakpoints.$breakpoints, "sm");
$md3Breakpoint: map.get(breakpoints.$breakpoints, "md3");
$lgBreakpoint: map.get(breakpoints.$breakpoints, "lg");
$xlBreakpoint: map.get(breakpoints.$breakpoints, "xl");

.pricing_card {
  width: 360px;
  background: color_variables.$pricingCardBgColor;
  margin-right: mixins.sizeX(3);
  border-radius: mixins.sizeX(3);
  padding: mixins.sizeX(5) mixins.sizeX(4);
  text-align: center;
  transition: 0.3s;

  &:last-child {
    margin-right: 0;
  }

  &__title {
    margin: 0;
    padding-bottom: mixins.sizeX(5);
    border-bottom: 1px solid color_variables.$baseTextColor;
  }

  &__featured_list {
    text-align: left;
    margin-top: mixins.sizeX(5);
    margin-bottom: mixins.sizeX(4);
  }

  &__price {

    .price {

      &__number {
        font-weight: 900;
        font-size: 40px;
        text-transform: uppercase;
      }

      &__description {
        font-size: 16px;
      }
    }


  }

  &__button {
    display: block;
    width: 100%;
    background: color_variables.$btnBgColor;
    color: color_variables.$bgColor;
    font-size: 18px;
    font-weight: 600;
    border-radius: mixins.sizeX(3);
    text-align: center;
    padding: 16px;
    transition: all 0.3s;

    &:hover {
      background: color_variables.$btnBgColorHover;
      @include mixins.btnBoxShadowHover();
    }
  }

  &:hover {
    transform: scale(1.02);
  }

  @include mixins.mediaMaxWith($xlBreakpoint) {
    padding: mixins.sizeX(3) mixins.sizeX(2);

    &__title {
      padding-bottom: mixins.sizeX(3);
    }
    .price__number {
      margin-top: mixins.sizeX(3);
      margin-bottom: mixins.sizeX(3);
    }

  }

  @include mixins.mediaMinAndMaxWith($md3Breakpoint, $xlBreakpoint) {
    width: 320px;
  }

  @include mixins.mediaMinAndMaxWith($md3Breakpoint, map.get(breakpoints.$breakpoints, "lg2")) {
    width: 300px;
    margin-right: mixins.sizeX(2);
  }

  @include mixins.mediaMinAndMaxWith($md3Breakpoint, $lgBreakpoint) {
    margin-right: 5px;
    padding: 10px 5px;
    width: 280px;

    &__title {
      padding-bottom: 10px;
    }

  }

  @include mixins.mediaMaxWith($lgBreakpoint) {

    &__title {
      font-size: 20px;
    }

    &__price .price__number {
      font-size: 32px;
    }

  }


  @include mixins.mediaMaxWith($md3Breakpoint) {
    width: 60%;
    margin-right: 0;
    margin-bottom: 80px;


    .pricing_card__button {
      width: 100%;
    }
  }

  @include mixins.mediaMinAndMaxWith($smBreakpoint, $md3Breakpoint) {
    .pricing_card__featured_list {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @include mixins.mediaMaxWith(map.get(breakpoints.$breakpoints, "md2")) {
    width: 80%;
  }

  @include mixins.mediaMaxWith($smBreakpoint) {
    width: 100%;
    margin-bottom: 60px;
  }


}

.featured_item {
  margin-bottom: mixins.sizeX(2);
  color: color_variables.$featuredListItemTextColor;
  display: flex;
  align-items: center;


  &:not(.featured_item--active) &__icon {
    @include mixins.iconBaseBlock;
    border-radius: mixins.sizeX(5);

    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 2px;
      background: currentColor;
      transform: rotate(45deg);
      border-radius: 5px;
      top: 8px;
      left: 1px
    }

    &:after {
      transform: rotate(-45deg)
    }

  }

  @include mixins.mediaMinAndMaxWith($smBreakpoint, $md3Breakpoint) {
    width: 50%;
    padding-right: 10px;
  }


}


/**
 * end "module.scss";
 */
