@use 'sass:color';
@use "../utils/utils";
// Colors
$pageBgColor: #1d282d;
$baseTextColor: #e4ebf9;
$accentTextColor1: #fad1ff;
$featuredListItemTextColor: rgba($baseTextColor, 0.50);
$pricingCardBgColor: #37414b;


// Button Default Colors
$btnDefaultBgColor: #c9d5fd;
$btnDefaultBgColorHover: utils.getBtnHoverColor($btnDefaultBgColor);
$btnDefaultShadowColor: utils.getBtnHoverColor($btnDefaultBgColorHover);

// Button Primary Colors
$btnPrimaryBgColorHover: utils.getBtnHoverColor($accentTextColor1);
$btnPrimaryShadowColor: utils.getBtnHoverColor($btnPrimaryBgColorHover);


